In [1]:
# Filertilizer

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv('Fertilizer_csv.csv')
data.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [4]:
#changing the column names
data.rename(columns={'Humidity ':'Humidity','Soil Type':'Soil_Type','Crop Type':'Crop_Type','Fertilizer Name':'Fertilizer'},inplace=True)

In [5]:
#encoding the labels for categorical variables
from sklearn.preprocessing import LabelEncoder

In [6]:
#encoding Soil Type variable
encode_soil = LabelEncoder()

#fitting the label encoder
data.Soil_Type = encode_soil.fit_transform(data.Soil_Type)

#creating the DataFrame
Soil_Type = pd.DataFrame(zip(encode_soil.classes_,encode_soil.transform(encode_soil.classes_)),columns=['Original','Encoded'])
Soil_Type = Soil_Type.set_index('Original')
Soil_Type

          Encoded
Original
Black           0
Clayey          1
Loamy           2
Red             3
Sandy           4

In [7]:
#encoding Crop Type variable
encode_crop = LabelEncoder()

#fitting the label encoder
data.Crop_Type = encode_crop.fit_transform(data.Crop_Type)

#creating the DataFrame
Crop_Type = pd.DataFrame(zip(encode_crop.classes_,encode_crop.transform(encode_crop.classes_)),columns=['Original','Encoded'])
Crop_Type = Crop_Type.set_index('Original')
Crop_Type

             Encoded
Original
Barley             0
Cotton             1
Ground Nuts        2
Maize              3
Millets            4
Oil seeds          5
Paddy              6
Pulses             7
Sugarcane          8
Tobacco            9
Wheat             10

In [8]:
#encoding Fertilizer variable
encode_ferti = LabelEncoder()

#fitting the label encoder
data.Fertilizer = encode_ferti.fit_transform(data.Fertilizer)

#creating the DataFrame
Fertilizer = pd.DataFrame(zip(encode_ferti.classes_,encode_ferti.transform(encode_ferti.classes_)),columns=['Original','Encoded'])
Fertilizer = Fertilizer.set_index('Original')
Fertilizer

          Encoded
Original
10-26-26        0
14-35-14        1
17-17-17        2
20-20           3
28-28           4
DAP             5
Urea            6

In [9]:
#splitting the data into train and test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data.drop('Fertilizer',axis=1),data.Fertilizer,test_size=0.2,random_state=1)
print('Shape of Splitting :')
print('x_train = {}, y_train = {}, x_test = {}, y_test = {}'.format(x_train.shape,y_train.shape,x_test.shape,y_test.shape))

Shape of Splitting :
x_train = (79, 8), y_train = (79,), x_test = (20, 8), y_test = (20,)

In [10]:
#Logistic regression model

In [11]:
#importing libraries
from sklearn.linear_model import LogisticRegression

In [12]:
from sklearn.ensemble import RandomForestClassifier
rand = RandomForestClassifier()

In [13]:
rand.fit(x_train,y_train)

RandomForestClassifier()

In [14]:
import pickle

In [15]:
filename = 'ferilizer_model.sav'

In [16]:
pickle.dump(rand,open(filename,'wb'))

In [31]:
ans = rand.predict([[88,24,32,0,5,6,7,0]])

In [18]:
print(ans)

[6]

In [26]:
type(ans)

numpy.ndarray

In [33]:
ans=int(ans)

In [28]:
type(ans)

int

In [29]:
def fertilizerfx(arg):
    fertilizer ={0:'10-26-26',1:'14-35-14',2:'17-17-17',3:'20-20',4:'28-28',5:'DAP',6:'Urea'}
    return fertilizer.get(arg)

In [34]:
fertilizerfx(ans)

'14-35-14'